.bookmark {
  width: 45px;
  height: 55px;
  filter: invert(0);
  position: absolute;
  right: 0.6rem;
  top: -0.6rem;
}

.bookmark:hover {
  filter: invert(1);
  height: 55px;
}

.qcard__bookmark--active {
  filter: invert(1);
  height: 55px;
}

.qcard__bookmark--active:hover {
  filter: invert(0);
  height: 55px;
}
