
.creatbox {
    position: relative;

    display:flex;
    flex-wrap: wrap;

    align-items: center;


    border: solid 2px white;

    margin: 2rem;
    padding: 0.5rem;
}

.creatbox textarea {
    position: relative;
    justify-content:space-around;
    width: 95%;    
}

.creatbox div {
    justify-content: center;
}

.qtag {
    width:40vh;
    
}

form ul li {
    list-style: none;
}